.choice-box {
    -fx-background-color: #F0F0F0;
    -fx-padding: 5px;
}

.choice-box .arrow-button {
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 0;
}

.choice-box .arrow-button .arrow {
    -fx-background-color: #333333;
    -fx-padding: 4px;
}

.choice-box .arrow-button:hover {
    -fx-background-color: #BBBBBB;
}

.choice-box .arrow-button:pressed {
    -fx-background-color: #999999;
}

.flowpane-background {
    -fx-background-image: url("restaurants.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.res-button {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-text-fill:  white;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-transition-duration: 0.3s;
}

.res-button:hover {
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-opacity: 0.85;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.info-label{
    -fx-font-family: "Arial";
        -fx-font-size: 12px;
        -fx-text-fill:  white;
        -fx-font-weight: bold;
}
.hover-button {
 -fx-background-color: rgba(255, 255, 255, 0.25);
}

.hover-button:hover {
    -fx-opacity: 0.7;
}
.hover-textField{
    -fx-text-fill:  white;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: #C3AED6;
    -fx-border-width: 0 0 2 0;
}
.hover-textField:focused{
    -fx-border-width: 2 2 2 2;
    -fx-transition-duration: 0.7s;
}
.hover-textField .text-input {
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
}
.glassmorphism-vbox {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10px;
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
    -fx-font-weight: bold;
}
.glassmorphism-vbox .background-glow {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, white, 20, 0, 0, 0);
}

.glassmorphism-vbox .content {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10px;
}

.glassmorphism-vbox .text-field .text-input {
    -fx-prompt-text-fill: white;}
}

.glassmorphism-vbox .blur-container {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}